export SMARTCAPTCHA_SERVER_KEY=ysc2_AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
export SMARTCAPTCHA_CLIENT_KEY=ysc1_AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
export SERVER_NAME=chatrooms.example.com
