<nav>
  <ul class="flex flex-row p-4 items-center w-screen bg-cyan-200">
    <li><a class="flex-none p-4 text-lg hover:cursor-pointer" href="/">Home</a></li>

    <span class="grow"></span>

    <li>
      <form class="flex rounded-md overflow-hidden w-100px">
        <input id="room-id" type="text" placeholder="room id" class="px-3 py-2 w-full rounded-l-md">
        <button id="go-to-room" class="bg-cyan-500 hover:bg-cyan-700 text-white font-bold py-2 px-3 rounded-r-md">Go</button>
      </form>

      <script>
        const input = document.querySelector('#room-id')
        const button = document.querySelector('#go-to-room')
        button.onclick = () => {
          const roomId = input.value;
          window.location.pathname = `/room/${roomId}`;
        }
      </script>
    </li>
  </ul>
</nav>
